@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/iransans/IRANSansWeb.eot);
    src: url(../fonts/iransans/IRANSansWeb.eot?#iefix) format('embedded-opentype'),
    url(../fonts/iransans/IRANSansWeb.woff2) format('woff2'),
    url(../fonts/iransans/IRANSansWeb.woff) format('woff'),
    url(../fonts/iransans/IRANSansWeb.ttf) format('truetype')
}

body, h1, h2, h3, h4, h5, h6, input, select, textarea, .btn, .bootstrap-select .dropdown-menu li {
    font-family: IranSans !important;
}

.level {
    display: flex;
    align-items: center;
}

.flex {
    flex: 1;
}

.foreign {
    font-family: Tahoma !important
}

.ltr {
    direction: ltr;
}

/** Captcha Styles */
.image-captcha {
    text-align: center;
}

.captcha-field {
    text-align: center;
    font-size: 20px !important;
    font-family: Tahoma;
}

.captcha-update-handler {
    display: inline-block;
    font-size: 20px;
    border: 1px solid gray;
    padding: 5px 6px;
    border-radius: 50% !important;
    line-height: 0;
    cursor: pointer;
    position: relative;
    right: 10px;
    color: gray;
}

.captcha-update-handler:hover {
    opacity: 0.5;
}

.captcha-input {
    font-size: 16px;
    direction: ltr;
    text-align: center;
}

#demo-mode-login-info {
    font-size: 16px;
    margin-top: 40px;
}

.dropdown-menu.dropdown-fix {
    left: 0 !important;
    right: auto !important;
}

.form-inline {
    display: inline;
}

.swal2-actions {
    direction: ltr;
}

.alert.m-alert--icon .m-alert__text {
    font-size: 18px;
}

a, .active-link, a:hover, .active-link:hover {
    color: #0088CC
}

.form-control {
    height: calc(2.95rem + 4px);
}

.table-no-record-found {
    text-align: center;
    font-size: 16px;
}

.m-badge.m-badge--wide {
    border-radius: 0.75rem;
    font-size: 11.5px;
    letter-spacing: 0;
}


.portlet-action-button {
    margin-left: 20px;
}

.star-rate-field {
    direction: rtl;
}

.star-rate-field i {
    font-size: 16px;
    color: #f1c40f;
}

/* pagination */
.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.dataTables_wrapper .pagination .page-item > .page-link {
    border-radius: 100%;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }
}


.bootstrap-select > .dropdown-toggle:after {
    left: 1.5rem;
}

.m-subheader__breadcrumbs .m-nav__item--home > .m-nav__link .m-nav__link-icon {
    width: 25px;
}


/**--------------------------------------------
*
*  Float Form Group Styles
*
----------------------------------------------*/
.form-float-input .form-group {
    margin-bottom: 40px;
}

.form-group--float {
    position: relative;
}

.form-group--float input, .form-group--float textarea, .form-group--float select.simple-select, .select-group--float .select2-selection, .select-group--float select.select2 {
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    min-height: 46px;
    border: 2px solid #ccc;
    border-radius: 7px !important;
    font-size: 14px;
    padding-right: 18px
}

.form-group--float > label {
    font-weight: 400;
    pointer-events: none;
    padding-left: 2px;
    width: 100%;
    margin-bottom: 8px;
    color: #8a8a8a;
    position: absolute;
    right: 30px;
    top: 13px;
    font-size: 13px
}

.form-group--active > label, .form-group--float .form-control:focus ~ label, .form-group--float.form-group-static > label {
    top: -9px;
    font-size: 12px;
    width: auto;
    background-color: #fff;
    padding-right: 5px;
    padding-left: 5px
}

.form-group--float .form-control:focus ~ label {
    color: #36b
}

.form-group--float .form-control:focus {
    border-color: #36b !important
}

.form-group--float:before, .form-group > label {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.form-group--float textarea.small {
    height: 95px !important
}

.form-group--float textarea.medium {
    height: 250px !important
}

.form-group--icon .input-icon-addon {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 20px;
    color: #afadad
}

.form-group--icon .input-icon-addon i {
    font-size: 20px;
    color: #afadad
}

.form-group--icon input, .form-group--icon textarea {
    padding-right: 45px
}

.form-group--icon textarea {
    padding-top: 13px
}

.form-group--float.form-group--icon > label {
    right: 50px
}

.form-group--float.form-group--icon .form-control:focus ~ label, .form-group--icon.form-group--active > label, .form-group-static > label {
    right: 30px !important
}

.form-group--icon.form-group--focused .input-icon-addon i {
    color: #36b
}

.form-group--focused .input-sticky-help {
    background-color: #36b !important
}

.form-group--icon .input-icon-addon.top-3 {
    top: 12px
}

.select-group--float > label {
    top: -8px;
    background-color: #fff;
    z-index: 9;
    width: auto;
    padding-right: 5px;
    padding-left: 5px
}

.select-group--float .btn-group.bootstrap-select button {
    background: 0 0;
    box-shadow: none;
    height: 46px;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 14px;
    padding-right: 18px
}

.select-group--float .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    width: auto;
    text-align: center
}

.input-sticky-help {
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: #ccc;
    color: #fff;
    height: 42px;
    width: 30px;
    text-align: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.input-sticky-help:hover {
    background-color: #36b;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.input-sticky-help i {
    font-size: 25px;
    margin-top: 8px
}

.input-sticky-help.tags-help {
    height: 116px;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.input-sticky-help.tags-help:hover {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.input-sticky-help.tags-help i {
    font-size: 50px;
    margin-top: 25px
}

.select-group--float .select2-selection__rendered {
    padding-top: 10px
}

.select-group--float .select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
    left: 10px;
    top: 23px;
}

.select-group--float.form-group--icon .input-icon-addon {
    z-index: 9
}

.select-group--float.form-group--icon .select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
    padding-right: 25px;
    padding-top: 15px;
}

.select-group--float .select2-container {
    width: 100% !important
}

.select2-results__option {
    padding-right: 20px;
    font-size: 15px
}

.select2-container--default .select2-results__group {
    font-size: 18px
}

.select2-search__field:after {
    font-family: FontAwesome;
    color: red;
    position: relative;
    left: 10px;
    content: "\f007";
    z-index: 99999999999999999
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
    margin-top: 13px
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 10px 5px 5px 60px
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 2px solid #36b;
    border-radius: 7px
}

.select-group--float .select2-selection.select2-selection--multiple {
    min-height: 120px
}

.btn-group--float {
    height: 70px;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 14px;
    padding-top: 15px;
    text-align: center
}

.btn-group--float.btn-group--height-free, .btn-group--float.checkbox-group {
    min-height: 70px;
    height: auto;
}

.btn-group--float.checkbox-group {
    padding: 20px 20px 10px 20px;
}

.btn-group--float > label {
    position: absolute;
    top: -8px;
    right: 30px;
    background-color: #fff;
    width: auto;
    padding: 0 5px
}

.btn-group--float .btn {
    float: right;
    background: 0 0;
    box-shadow: none;
    text-shadow: none;
    font-weight: 400
}

.btn-group--float .btn.active {
    background-color: gray;
    color: #fff
}

.btn-group-divided .btn {
    border: 2px solid #c9c7c7;
    margin-right: 3px;
    border-radius: 10px !important;
    font-size: 14px;
    float: right
}

.btn-group-divided .btn + .btn {
    margin-left: auto
}

.btn-group-divided .btn.active {
    border-color: #36b;
    background-color: #36b;
    margin-left: 10px;
}

.btn-group-divided .btn {
    margin-left: 10px !important;
}

.btn-group-divided.btn-group-list {
    height: auto;
    padding-bottom: 15px;
    border: none
}

.btn-group-divided.btn-group-list .btn {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    direction: rtl
}

.portlet--fancy {
    border: 1px solid #cbcbcb;
    border-top-width: 5px;
    border-radius: 10px !important;
}

/**-------------------------------------------
*
*               UPLOAD IMAGES
*
--------------------------------------------*/
#upload_images_part {
    text-align: center;
}

.uploader-description {
    font-weight: bold;
    margin-bottom: 20px;
}

.drop-images {
    vertical-align: middle;
    float: right;
    border: 1px dotted #858585;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    position: relative;
    width: 120px;
    height: 80px;
    background: #fff
}

.drop-images span {
    margin-top: 20px;
    position: relative;
    display: block;
    font-size: 16px
}

.hover-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 0
}

.hover-wrapper .figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 95%;
    background-color: #5C5C5C;
    color: #fff;
    opacity: 0;
    cursor: pointer
}

.hover-wrapper .figcaption i {
    font-size: 40px;
    position: relative;
    /*right: 40%;*/
    top: 25%;
    color: #FF4B44
}

.input-with-postfix .postfix, figure.hover-wrapper .drop-images.uploading i {
    bottom: 5px;
    position: relative
}

figure.hover-wrapper .drop-images {
    border: 2px dashed #858585;
    text-align: center;
}

figure.hover-wrapper .drop-images .hover-icon {
    margin-top: 15px;
}

figure.hover-wrapper .drop-images i {
    font-size: 25px;
}

figure.hover-wrapper .drop-images.hover, figure.hover-wrapper .drop-images:hover {
    border-color: #0078C1;
    color: #0078C1;
    cursor: pointer
}

figure.hover-wrapper .drop-images.uploading {
    border-color: #0078C1;
    color: #0078C1
}

figure.hover-wrapper .drop-images.upload-error {
    border-color: #e4282f;
    color: #e4282f
}

figure.hover-wrapper .drop-images.upload-success {
    border-color: #5CB12F;
    color: #5CB12F
}

figure.hover-wrapper.big .drop-images {
    width: 300px;
    height: 250px;
    background: #fff;
}

figure.hover-wrapper.big .drop-images .hover-icon {
    margin-top: 90px;
}

figure.hover-wrapper.big .figcaption i {
    top: 40%;
}

/*-------------------------
           Map
-------------------------*/
#map__search_result {
    display: none;
    width: 100%;
    min-height: 40px;
    border: 1px solid #cecbcb;
    position: absolute;
    top: 33px;
    z-index: 999;
    background-color: white;
    height: 200px;
    overflow-y: scroll;
}

#map__search_result .map_search__item {
    padding: 5px;
}

#map__search_result .map_search__item:hover {
    background-color: #c7c6c6;
    cursor: pointer;
}

#map_search__loading {
    display: none;
    position: absolute;
    left: 55px;
    top: 11px;
    font-size: 24px;
}

.location-picker-help img {
    width: 15px;
}

#location_picker {
    /*width:100%;*/
    height: 275px;
    border: 7px solid #fff;
    background-color: #fff;
    box-shadow: 0 0 2px #999
}


.m-subheader__breadcrumbs.m-nav > .m-nav__item > .m-nav__link.active-link > .m-nav__link-text {
    color: #0088CC
}

.m-portlet .m-portlet__head .m-portlet__head-tools .btn {
    font-size: 15px;
}

.toast-top-left {
    top: 72px;
    right: 32px;
}

.form-group--float.has-error .form-control.error {
    margin: 0;
    padding: auto;
    background: 0 0;
    border-color: #b94a48
}

.form-group--float.has-error .help-block.form-error {
    color: #b94a48
}

.btn-group-divided.has-error, .form-group--float.has-error .select2-selection {
    border-color: #b94a48
}

.btn-group-divided.has-error .help-block.form-error {
    text-align: center;
    font-size: 11px;
    padding: 0;
    margin: 0;
    color: #b94a48
}

.form-group-checkbox.has-error {
    background-color: #b94a48;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px
}

.form-group--float .help-block.live {
    color: #9e9e9e;
    padding-top: 5px;
    padding-right: 5px;
}

.form-group-checkbox .help-block {
    padding-right: 25px
}

.form-group-checkbox.has-error .help-block.form-error {
    padding-top: 5px;
    color: #230100
}

.form-group-checkbox.has-error .checkbox .input-helper:before {
    border-color: #fff
}

.form-group-checkbox.has-error label a {
    color: #4a1d1c
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-40 {
    margin-top: 40px;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.m-portlet__head-text, .m-portlet__head-text i {
    font-size: 20px !important;
    color: #0088CC;
}

.m-portlet__head-text i {
    margin-left: 10px;
}

.big-header thead th, .big-header thead td {
    border-bottom-width: 2px;
    font-size: 18px;
}

.bs-popover-top, .bs-popover-auto[x-placement^="top"], .bs-popover-bottom, .bs-popover-auto[x-placement^="bottom"] {
    right: auto !important;
}

.bold-border {
    border: 2px solid #ccc;
}

.hidden {
    display: none;
}

.dd-handle {
    height: 50px !important;
    font-size: 20px;
    line-height: 40px;
}

.dd-item, .dd-empty, .dd-placeholder {
    min-height: 55px !important;
}

.required {
    color: red;
}

.m-badge.m-badge--square {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 6px;
}

.m-badge.m-badge--mini {
    font-size: 13px;
    padding: 0 3px;
}

.sidebar-menu-active {
    background-color: #34bfa3;
}

.sidebar-menu-active .m-nav__link-icon, .sidebar-menu-active span.m-nav__link-text {
    color: white !important;
}

.m-checkbox.m-checkbox-medium {
    font-size: 15px;
}

.black {
    color: black
}

.fancy-form-section {
    border-bottom: 1px dashed #b3b2b2;
    padding-bottom: 10px;
}

.fancy-form-section .m-form__section i {
    font-size: 20px;
}

.form-float-input .form-group.btn-group-divided {
    text-align: right;
    padding-right: 20px;
}

.form-group.btn-group-divided input[type="radio"] {
    display: none;
}

.m-nav.nav-sidebar .m-nav__item > .m-nav__link .m-nav__link-text {
    font-size: 18px;
}

.m-nav.nav-sidebar .m-nav__item > .m-nav__link .m-nav__link-icon {
    font-size: 23px;
    position: relative;
    bottom: 3px;
}

.m-nav.m-nav--hover-bg .m-nav__item.sidebar-menu-active:hover a {
    background-color: #34bfa3;
}

.single-image-upload-preview {
    width: 120px;
}

.single-image-upload-preview label {
    position: relative;
    bottom: 5px;
}

.single-image-upload-preview .imagePreview {
    width: 100%;
    height: 120px;
    background-size: contain;
    background: #fff url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg) no-repeat center center;
    display: inline-block;
    border: 1px dashed #c3c3c3;
}

.single-image-upload-preview input {
    width: 0;
    height: 0;
    overflow: hidden;
}

table tr.not-visited td {
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}


/*------------------------------------------------------------------
[ Invoice Template ]
*/
.invoice-wrapper {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    direction: rtl;
    margin-top: 40px;
}

.invoice-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 10px;
}

.invoice-logo {
    float: right;
    font-size: 26px;
    text-transform: uppercase;
}

.invoice-logo i {
    color: #42A5F5;
    margin: 0px 0px 0px 10px;
}

.invoice-logo small {
    font-size: 12px;
    padding-right: 42px;
}

.invoice-logo img {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 60px;
}

.invoice-col {
    font-weight: bold !important;
    color: #656565;
}

.invoice-title {
    font-size: 26px;
    float: right;
    color: #969696;
}

.invoice-title i {
    color: #42A5F5;
    margin: 0 0 0 10px;
}

.invoice-title small {
    font-size: 12px;
}

.invoice-description {
    float: left;
}

.invoice-description span, .invoice-description strong {
    display: block;
}

.invoice-description strong {
    font-size: 20px;
}

.invoice-info {
    padding: 20px 0px;
}

.invoice-summary dl.dl-horizontal .final-price {
    font-size: 16px;
    position: relative;
    top: 20px;
}

.invoice-status .label {
    font-size: 15px;
    padding: 5px 10px;
}

.invoice-table, .invoice-table thead tr th, .invoice-summary {
    color: #000;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.dl-horizontal dt {
    float: right;
    text-align: left
}

.dl-horizontal dd {
    margin-right: 180px;
    margin-left: 0
}

@media (min-width: 768px) {
    .dl-horizontal dd:after, .dl-horizontal dd:before {
        content: " ";
        display: table;
    }
}

.dl-horizontal dd {
    margin-left: 180px
}

.dl-horizontal dd:after {
    clear: both
}

.swal2-popup .swal2-title {
    line-height: 35px;
}

.btn-lg.btn-x-large {
    font-size: 25px;
}

.btn-lg.btn-x-large i {
    font-size: 25px;
    position: relative;
    bottom: 3px;
}

.btn-lg.btn-2x-large {
    font-size: 30px;
}

.sitemap-section .sitemap-icon, .sitemap-section .error-icon {
    text-align: center;
}

.sitemap-section .sitemap-icon i {
    font-size: 120px;
}

.sitemap-section .error-icon i {
    font-size: 180px;
}

.sitemap-section .sitemap-description {
    font-size: 18px;
    line-height: 35px;
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text .m-portlet__head-desc {
    font-family: IRANSans;
    font-size: 12px;
    /*padding-top: 40px;*/
    padding-right: 10px;
}

.m-widget25 .m-widget25--progress .m-widget25__progress .m-widget25__progress-number .difference-status {
    font-size: 14px;
}

.report-result {
    font-size: 30px;
}

.report-result i {
    font-size: 50px;
}

.report-result .report-price {
    font-size: 40px;
}

.m-widget4 .m-widget4__item .m-widget4__info .m-widget4__text {
    font-size: 18px;
}

ul.user-info-widget li.list-group-item {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    padding: 1rem 1.25rem;
}

ul.user-info-widget li.list-group-item i {
    font-size: 18px;
}

ul.user-info-widget li.list-group-item {

}

ul.user-info-widget li.list-group-item span {
    font-size: 20px;
}

.main-calendar {
    margin: 0;
    font-size: 16px !important;
}

.main-calendar i {
    font-size: 22px !important;
}

.m-brand__logo-wrapper img {
    width: 70%;
}

.m-popover {
    font-family: IranSans !important;
}

.g-recaptcha > div {
    margin: auto
}

@media screen and (max-width: 575px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(.77);
        -webkit-transform: scale(.77);
        transform-origin: right;
        -webkit-transform-origin: right
    }
}

.divider {
    height: 1px;
    border-bottom: 1px dashed #d4d4d4;
}

.multiple_dynamic_fields__addon {
    position: absolute;
    top: 15px;
    left: -30px;
    font-size: 18px;
}

.multiple_dynamic_fields__addon {
    cursor: pointer;
}

.multiple_dynamic_fields__addon.add-field {
    color: #4087f3;
}

.multiple_dynamic_fields__addon.remove-field {
    color: #f35858;
}

.mb-40 {
    margin-bottom: 40px;
}

.multiple-card-forms {
    margin-top: 50px;
}

.multiple-card-forms .card {
    margin-bottom: 20px;
}

.multiple-card-forms .card .card-header {
    padding: 15px 20px;
    background-color: white;
}

.multiple-card-forms .card .card-body {
    padding-top: 35px;
}

.m-timeline-1 .m-timeline-1__items .m-timeline-1__item .m-timeline-1__item-content .m-timeline-1__item-title {
    font-size: 18px;
    font-weight: 700;
}

.m-timeline-2 {
    position: relative;
}

.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-time {
    font-size: 10px;
    top: 5px;
}

.m-timeline-2 .m-timeline-2__items .m-timeline-2__item {
    margin-bottom: 10px;
}

.m-checkbox-list .m-checkbox, .m-checkbox-list .m-radio, .m-radio-list .m-checkbox, .m-radio-list .m-radio {
    font-size: 15px;
}

.underline {
    text-decoration: underline;
}

.link-underline {
    border-bottom: dotted;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    text-align: left;
}


.select2-container .select2-search--inline {
    float: right !important;
}

.select2-result-repository__avatar {
    float: right;
    width: 60px;
    margin-left: 10px;
}

.select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.select2-result-repository__meta {
    margin-right: 70px;
}
.select2-result-repository__statistics {
    border-bottom: 1px dashed #d4d4d4;
}
.select2-result-repository__title {
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 4px;
}

.select2-result-repository__forks, .select2-result-repository__stargazers {
    margin-left: 1em;
}

.select2-result-repository__stargazers {
    margin-left: 4em;
}

.select2-result-repository__forks, .select2-result-repository__stargazers, .select2-result-repository__watchers {
    //display: inline-block;
    //color: #aaa;
    font-size: 11px;
}

.select2-result-repository__description {
    font-size: 13px;
    color: #777;
    margin-top: 4px;
}

//.select2-results__option--highlighted .select2-result-repository__title { color: white; font-weight: normal}
//.select2-results__option--highlighted .select2-result-repository__forks, .select2-results__option--highlighted .select2-result-repository__stargazers, .select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted .select2-result-repository__watchers {
//    color: #c1d7e9;
//}

.checker {
    margin-top: -2px !important;
    margin-left: 2px !important;
}

.select2-result-repository__forks {
    margin-left: 50px;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    height: 30px;
}

.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    font-family: IranSans;
}
.inline-block {
    display: inline-block;
}
.m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    width: 100px;
}
.m-list-timeline__items .m-list-timeline__item .dismiss-notification i {
    font-size: 10px;
    position: relative;
    top: 2px;
    left: 2px;
}
.loading {
    text-align: center;
}
.loading i{
    font-size: 35px;
}
//.disabled-visible{
//    background-color: white !important;
//    border-color: #dfdfdf !important;
//}

.modal-footer {
    direction: ltr !important;
    justify-content: flex-start !important;
}
.full-width {
    width: 100%;
}
.pr-0 {
    padding-right: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.select-group--float .select2-selection.select2-selection--multiple {
    padding-right: 40px !important;
}
.filepond--drop-label.filepond--drop-label label {
    font-family: IranSans !important;
    direction: rtl !important;
}
.actor-finder {
    position: relative;
}
.actor-finder .control-button{
    position: absolute;
    top: 15px;
    left: -35px;
    font-size: 18px;
    cursor: pointer;
}

.actor-finder .control-button.remove-field {
    color: darkred;
}
#actors-part {
    text-align: center;
    border-radius: 7px !important;
    border-left: 0;
}
#actors-part h4{
    margin-bottom: 30px;
}
#actors-part .add-field {
    font-size: 18px;
    cursor: pointer;
    color: #0a6aa1;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
#actors-part .result_set {
    display: none;
    background: white;
    border: 1px solid gray;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.result-item {
    cursor: pointer;
    margin-bottom: 3px;
}
.result-item:hover{
    background-color: #dcd8d8;
}
.result-item__avatar {
    float: right;
    width: 60px;
    margin-left: 10px;
}
.result-item__avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.result-item__meta {
    margin-right: 70px;
}

.result-item__title {
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 4px;
    text-align: right;
    padding-top: 10px;
    font-size: 15px;
}

#modals-container, .vm--container {
    direction: ltr !important;
}
.image-picker-wrapper .title{
    text-align: center;
    margin-bottom: 40px;
}
.form-group--icon .input-icon-addon img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    left: 3px;
}
.media-filter select, .media-filter input {
    width: 170px;
    height: 30px;
    border: 1px solid #9e9e9e;
    padding-right: 10px;
}
.media-filter input {
    width: 250px;
}

.gallery-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    direction: rtl;
}
.gallery-wrapper .gallery-item {
    position: relative;
    margin-left: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
}
.gallery-wrapper .gallery-item:hover {
    opacity: 0.6;
}
.gallery-wrapper .gallery-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

// video js skin
.vjs-custom-skin>.video-js{width:100%;font-family:PingFang SC,Helvetica Neue,Hiragino Sans GB,Segoe UI,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,sans-serif}.video-js.vjs-no-flex .vjs-menu-button-inline,.vjs-custom-skin>.video-js .vjs-menu-button-inline.vjs-slider-active,.vjs-custom-skin>.video-js .vjs-menu-button-inline:focus,.vjs-custom-skin>.video-js .vjs-menu-button-inline:hover{width:10em}.vjs-custom-skin>.video-js .vjs-controls-disabled .vjs-big-play-button{display:none!important}.vjs-custom-skin>.video-js .vjs-control{width:3em}.vjs-custom-skin>.video-js .vjs-control.vjs-live-control{width:auto;padding-left:.5em;letter-spacing:.1em}.vjs-custom-skin>.video-js .vjs-menu-button-inline:before{width:1.5em}.vjs-menu-button-inline .vjs-menu{left:3em}.vjs-custom-skin>.video-js .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button{display:none!important}.vjs-custom-skin>.video-js .vjs-mouse-display:after,.vjs-custom-skin>.video-js .vjs-play-progress:after{padding:0 .4em .3em}.video-js.vjs-ended .vjs-loading-spinner{display:none}.video-js.vjs-ended .vjs-big-play-button{display:block!important}.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button,.vjs-paused.vjs-has-started.vjs-custom-skin>.video-js .vjs-big-play-button{display:block}.vjs-custom-skin>.video-js .vjs-big-play-button{top:50%;left:50%;margin-left:-1.5em;margin-top:-1em;background-color:rgba(0,0,0,.45);font-size:3.5em;height:2em!important;line-height:2em!important;margin-top:-1em!important}.video-js:hover .vjs-big-play-button,.vjs-custom-skin>.video-js .vjs-big-play-button:active,.vjs-custom-skin>.video-js .vjs-big-play-button:focus{background-color:rgba(36,131,213,.9)}.vjs-custom-skin>.video-js .vjs-loading-spinner{border-color:rgba(36,131,213,.8)}.vjs-custom-skin>.video-js .vjs-control-bar2{background-color:#000}.vjs-custom-skin>.video-js .vjs-control-bar{color:#fff;font-size:14px}.vjs-custom-skin>.video-js .vjs-play-progress,.vjs-custom-skin>.video-js .vjs-volume-level{background-color:#2483d5}.vjs-custom-skin>.video-js .vjs-play-progress:before{top:-.3em}.vjs-custom-skin>.video-js .vjs-progress-control:hover .vjs-progress-holder{font-size:1.3em}.vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu{left:0}.vjs-custom-skin>.video-js .vjs-menu li{padding:0;line-height:2em;font-size:1.1em;font-family:PingFang SC,Helvetica Neue,Hiragino Sans GB,Segoe UI,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,sans-serif}.vjs-custom-skin>.video-js .vjs-mouse-display:after,.vjs-custom-skin>.video-js .vjs-play-progress:after,.vjs-custom-skin>.video-js .vjs-time-tooltip{border-radius:0;font-size:1em;padding:0;width:3em;height:1.5em;line-height:1.5em;top:-3em}.vjs-custom-skin>.video-js .vjs-menu-button-popup .vjs-menu{width:5em;left:-1em}.vjs-custom-skin>.video-js .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu{left:0}.vjs-custom-skin>.video-js .vjs-control-bar .vjs-play-control{order:0}.vjs-custom-skin>.video-js .vjs-control-bar .vjs-time-control{min-width:1em;padding:0;margin:0 .1em;text-align:center;display:block;order:1}.vjs-custom-skin>.video-js .vjs-control-bar .vjs-playback-rate .vjs-playback-rate-value{font-size:1.2em;line-height:2.4}.vjs-custom-skin>.video-js .vjs-progress-control.vjs-control{order:2}.vjs-custom-skin>.video-js .vjs-control-bar .vjs-volume-menu-button{order:3}.vjs-custom-skin>.video-js .vjs-control-bar .vjs-resolution-button{order:4}.vjs-custom-skin>.video-js .vjs-control-bar .vjs-resolution-button .vjs-resolution-button-label{display:block;line-height:3em}.vjs-custom-skin>.video-js .vjs-control-bar .vjs-playback-rate{order:5}.vjs-custom-skin>.video-js .vjs-control-bar .vjs-fullscreen-control{order:6}
.vue-dropzone .dz-message {
    font-family: 'IranSans';
    font-size: 25px;
}
.vue-dropzone .dz-message i {
    font-size: 25px;
}
.dropzone-custom-content {
    text-align: center;
}
.dropzone-custom-content i{
    font-size: 45px !important;
    position: relative;
    bottom: 30px;
}

.dropzone-custom-title {
    margin-top: 0;
    color: #00b782;
}

.dropzone-custom-content .subtitle {
    color: #314b5f;
    font-size: 13px;
}
.dropzone .dz-preview {
    font-family: 'IranSans';
    text-align: left !important;
    direction: ltr !important;
}

.dropzone .dz-preview.dz-error:hover .dz-error-message {
    font-family: 'IranSans';
    font-size: 11px;
    top: 100px !important;
}
.media-searching.big {
    text-align: center
}
.media-searching.big i {
    font-size: 80px;
}
.img-circle {
    border-radius: 50%;
}
.table th, .table td {
    vertical-align: middle !important;
}
